<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
         version="6.1"
         metadata-complete="true">

    <servlet>
        <servlet-name>NoticeServlet</servlet-name>
        <servlet-class>com.akshata.NoticeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NoticeServlet</servlet-name>
        <url-pattern>/NoticeServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UpdateNoticeServlet</servlet-name>
        <servlet-class>com.akshata.UpdateNoticeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateNoticeServlet</servlet-name>
        <url-pattern>/UpdateNoticeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteNoticeServlet</servlet-name>
        <servlet-class>com.akshata.DeleteNoticeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteNoticeServlet</servlet-name>
        <url-pattern>/DeleteNoticeServlet</url-pattern>
    </servlet-mapping>

</web-app>